nav{
    box-shadow: none;
    background-color: lightslategray;
}
nav ul a{
    background-color: rgba(72, 160, 163, 0.795);
}

.page-footer{
    background-color: lightslategray;
}

.collapsible-header {
    background-color: lightslategray;
    color: white;
}

body{
    background-color: lightgray;
}


nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
   
    font-size: 18px;
    font-style: normal;
  
}