/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
} */

img {
    width: 30px;
    height: 30px
}

.container {
    text-align: center;
    font-size: 22px;
    padding-bottom: 8px;
}

/* footer {
    position:fixed;
    left:0;
    bottom:0;
    right:0;
}
       */